@font-face {
	font-family: 'AA Zuehlke';
	src: url('fonts/AAZuehlke-Italic.eot');
	src: url('fonts/AAZuehlke-Italic.eot?#iefix') format('embedded-opentype'),
	url('fonts/AAZuehlke-Italic.woff') format('woff'),
	url('fonts/AAZuehlke-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'AA Zuehlke';
	src: url('AAZuehlke.eot');
	src: url('AAZuehlke.eot?#iefix') format('embedded-opentype'),
	url('AAZuehlke.woff') format('woff'),
	url('AAZuehlke.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html {
	font-size: 10px;
}

body {
	font-family: 'AA Zuehlke';
	font-size: 14px;
	font-size: 1.4rem;
}

ul, li {
	margin: 0;
	padding: 0;
	-webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
ul {
	list-style: none;
}

a {
  color: $z-orange--primary;

  &:hover,
  &:focus {
    color: $z-orange--darkest;
  }

}



#header {
	background: #fff;
	padding: 20px 0px;
}

.header-title {
	color: $z-gray--darkest;
	padding: 0;
	margin: 37px 0px;
	@media (max-width: 768px) {
		font-size: 2.6rem;
		margin: 15px 0px;
	}
}




/* for low resolution display */
.logo {
	margin: 0px 15px;
	float: right;
	background: red;
    background-image: url("../img/Zuehlke_Logo_rgb_120px.jpg");
    background-size: 120px 120px;
    height: 120px;
    width: 120px;
    @media (max-width: 768px) {
		height: 60px;
    	width: 60px;
    	background-image: url("../img/Zuehlke_Logo_rgb_60px.jpg");
    	background-size: 60px 60px;
	}
}




/* for high resolution display */
@media only screen and 
(min--moz-device-pixel-ratio: 2),only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	.logo {
	    background: url('../img/Zuehlke_Logo_rgb_240px.jpg') no-repeat;
	    background-size: 120px 120px;
	    @media (max-width: 768px) {
	    	background-image: url("../img/Zuehlke_Logo_rgb_120px.jpg");
	    	background-size: 60px 60px;
		}
	}
}

.section-header {
	color: #fff;
	&__heading {
		text-align: center;
		font-size: 2.8rem;
		margin: 10px 0px;
	}
}

.section:nth-child(1) .section-header {
	background: $z-orange--darkest;
}
.section:nth-child(2) .section-header {
	background: $z-yellow--darkest;
}
.section:nth-child(3) .section-header {
	background: $z-forest-green--darkest;
}
.section:nth-child(4) .section-header {
	background: $z-lime-green--darkest;
}
.section:nth-child(5) .section-header {
	background: $z-blue--darkest;
}
.section:nth-child(6) .section-header {
	background: $z-gray--darkest;
}


.subsection {

	&__heading {
		color: $z-gray--darkest;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	&__content {
		background: #fff;
    }

}

.section:nth-child(1) {
	& .subsection:nth-child(2) {
		background: $z-orange--dark;
	}
	& .subsection:nth-child(3) {
		background: $z-orange--medium;
	}
	& .subsection:nth-child(4) {
		background: $z-orange--light;
	}
	// & .subsection:nth-child(5) {
	// 	background: $z-orange--lightest;
	// }
	@media (max-width: 991px) {
	.subsection {
		background: #fff !important;
		&__heading {
			color: $z-orange--darkest;
			text-align: center;
			font-size: 2rem;
			margin: 0px;
			padding-top: 10px;
			padding-bottom: 5px;
		}
	}
	}
}
.section:nth-child(2) {
	& .subsection:nth-child(2) {
		background: $z-yellow--dark;
	}
	& .subsection:nth-child(3) {
		background: $z-yellow--medium;
	}
	& .subsection:nth-child(4) {
		background: $z-yellow--light;
	}
	// & .subsection:nth-child(5) {
	// 	background: $z-yellow--lightest;
	// }
	@media (max-width: 991px) {
	.subsection {
		background: #fff !important;
		&__heading {
			color: $z-yellow--darkest;
			text-align: center;
			font-size: 2rem;
			margin: 0px;
			padding-top: 10px;
			padding-bottom: 5px;
		}
	}
	}
}
.section:nth-child(3) {
	& .subsection:nth-child(2) {
		background: $z-forest-green--dark;
	}
	& .subsection:nth-child(3) {
		background: $z-forest-green--medium;
	}
	& .subsection:nth-child(4) {
		background: $z-forest-green--light;
	}
	// & .subsection:nth-child(5) {
	// 	background: $z-forest-green--lightest;
	// }
	@media (max-width: 991px) {
	.subsection {
		background: #fff !important;
		&__heading {
			color: $z-forest-green--darkest;
			text-align: center;
			font-size: 2rem;
			margin: 0px;
			padding-top: 10px;
			padding-bottom: 5px;
		}
	}
	}
}
.section:nth-child(4) {
	& .subsection:nth-child(2) {
		background: $z-lime-green--dark;
	}
	& .subsection:nth-child(3) {
		background: $z-lime-green--medium;
	}
	& .subsection:nth-child(4) {
		background: $z-lime-green--light;
	}
	// & .subsection:nth-child(5) {
	// 	background: $z-lime-green--lightest;
	// }
	@media (max-width: 991px) {
	.subsection {
		background: #fff !important;
		&__heading {
			color: $z-lime-green--darkest;
			text-align: center;
			font-size: 2rem;
			margin: 0px;
			padding-top: 10px;
			padding-bottom: 5px;
		}
	}
	}
}
.section:nth-child(5) {
	& .subsection:nth-child(2) {
		background: $z-blue--dark;
	}
	& .subsection:nth-child(3) {
		background: $z-blue--medium;
	}
	& .subsection:nth-child(4) {
		background: $z-blue--light;
	}
	& .subsection:nth-child(5) {
		background: $z-blue--lightest;
	}
	@media (max-width: 991px) {
	.subsection {
		background: #fff !important;
		&__heading {
			color: $z-blue--darkest;
			text-align: center;
			font-size: 2rem;
			margin: 0px;
			padding-top: 10px;
			padding-bottom: 5px;
		}
	}
	}

}
.section:nth-child(6) {
	& .subsection:nth-child(2) {
		background: $z-gray--dark;
	}
	& .subsection:nth-child(3) {
		background: $z-gray--medium;
	}
	& .subsection:nth-child(4) {
		background: $z-gray--light;
	}
	// & .subsection:nth-child(5) {
	// 	background: $z-gray--lightest;
	// }
	@media (max-width: 991px) {
	.subsection {
		background: #fff !important;
		&__heading {
			color: $z-gray--darkest;
			text-align: center;
			font-size: 2rem;
			margin: 0px;
			padding-top: 10px;
			padding-bottom: 5px;
		}
	}
	}
}



.card {
	@include clearfix;
	padding-top: 15px;
	padding-bottom: 15px;
	border: 1px solid $gray-lighter;
	height: 180px;

	&__content {
		// padding: 0 10px;
		// max-width: 150px;
	}

	&__text {
		margin-bottom: 0;
		color: $z-gray--primary;
	}

	& label {
		font-size: 2rem;
		color: $z-gray--darkest;

		&:hover {
			cursor: pointer;
		}
	}
	
	&__img {
		img {
			width: 100%;
			height: auto;
		}
	}
	
}

.links {
	&__item {
		display: block;
		float: left;
		margin-right: 10px;
	}
}


#footer {
	padding: 100px 0px;
	background: $z-gray--darkest;
	& p {
		color: #fff;
		text-align: center;
	}
}
