// ZUHLKE ORANGE
$z-orange--darkest:	#FE6100;
$z-orange--primary:	#FF820A;
$z-orange--dark:		#FDC7A9;
$z-orange--medium:	#FED6BF;
$z-orange--light:	#FEE8DA;
// $z-orange--lightest:	#FEE8DA;

// ZUHLKE YELLOW
$z-yellow--darkest:	#FEE100;
$z-yellow--dark:		#FEF4AA;
$z-yellow--medium:	#F5EDB5;
$z-yellow--light:	#F4F0CE;
// $z-yellow--lightest:	#F4F0CE;

// ZUHLKE FOREST GREEN
$z-forest-green--darkest: #69A786;
$z-forest-green--dark:		#BBD4C7;
$z-forest-green--medium:	#CFDFD7;
$z-forest-green--light:	#DEE7E2;
// $z-forest-green--lightest:	#DEE7E2;

// ZUHLKE LIME GREEN
$z-lime-green--darkest: #76BE00;
$z-lime-green--dark:		#C7E19E;
$z-lime-green--medium:	#D3E5B5;
$z-lime-green--light:	#E0EBCE;
// $z-lime-green--lightest:	#E0EBCE;

// ZUHLKE BLUE
$z-blue--darkest: #4095FE;
$z-blue--dark:		#B4D2F7;
$z-blue--medium:	#C5DAF5;
$z-blue--light:	#D8E4F4;
$z-blue--lightest:	#E4EBF3;

// ZUHLKE GRAY
$z-gray--darkest: #4D4D4D;
$z-gray--primary: #808080;
$z-gray--dark:		#B9B9B9;
$z-gray--medium:	#C8C8C8;
$z-gray--light:	#DADADA;
// $z-gray--lightest:	#DADADA;