// ZUHLKE ORANGE
$z-orange--darkest:	#FE6100;
$z-orange--dark:		#FF820A;
$z-orange--medium:	#FEB080;
$z-orange--light:	#FED7BF;
$z-orange--lightest:	#FED7BF;

// ZUHLKE YELLOW
$z-yellow--darkest:	#FEE100;
$z-yellow--dark:		#FEE840;
$z-yellow--medium:	#FEF080;
$z-yellow--light:	#FEF7BF;
$z-yellow--lightest:	#FEF7BF;

// ZUHLKE FOREST GREEN
$z-forest-green--darkest: #69A786;
$z-forest-green--dark:		#92C1A6;
$z-forest-green--medium:	#B7D8C4;
$z-forest-green--light:	#DCEDE1;
$z-forest-green--lightest:	#DCEDE1;

// ZUHLKE LIME GREEN
$z-lime-green--darkest: #76BE00;
$z-lime-green--dark:		#90CB33;
$z-lime-green--medium:	#B3D877;
$z-lime-green--light:	#D3E5B7;
$z-lime-green--lightest:	#D3E5B7;

// ZUHLKE BLUE
$z-blue--darkest: #4095FE;
$z-blue--dark:		#73B1FE;
$z-blue--medium:	#A5CDFE;
$z-blue--light:	#CBE2FE;
$z-blue--lightest:	#CBE2FE;

// ZUHLKE GRAY
$z-gray--darkest: #4D4D4D;
$z-gray--dark:		#808080;
$z-gray--medium:	#C0C0C0;
$z-gray--light:	#E6E6E6;
$z-gray--lightest:	#E6E6E6;
