@mixin rotate($val) {
	// -webkit-transform-origin: 0 0;
	// -moz-transform-origin:    0 0;
	// -ms-transform-origin:     0 0;
	// -o-transform-origin:      0 0;

	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin:    100% 100%;
	-ms-transform-origin:     100% 100%;
	-o-transform-origin:      100% 100%;

	-webkit-transform: rotate($val);
	-moz-transform: rotate($val);
	-ms-transform: rotate($val);
	-o-transform: rotate($val);
	transform: rotate($val);
}