@font-face {
	font-family: 'AA Zuehlke';
	src: url('fonts/AAZuehlke-Italic.eot');
	src: url('fonts/AAZuehlke-Italic.eot?#iefix') format('embedded-opentype'),
	url('fonts/AAZuehlke-Italic.woff') format('woff'),
	url('fonts/AAZuehlke-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'AA Zuehlke';
	src: url('AAZuehlke.eot');
	src: url('AAZuehlke.eot?#iefix') format('embedded-opentype'),
	url('AAZuehlke.woff') format('woff'),
	url('AAZuehlke.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html {
	font-size: 10px;
}

body {
	font-family: 'AA Zuehlke';
	font-size: 14px;
	font-size: 1.4rem;
}

ul, li {
	margin: 0;
	padding: 0;
	-webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
ul {
	list-style: none;
}

.section-header {
	// background: green;
	color: #fff;
	&__heading {
		text-align: center;
		font-size: 2rem;
		margin: 5px 0px;
	}
}

.section:nth-child(1) .section-header {
	background: $z-orange--darkest;
}
.section:nth-child(2) .section-header {
	background: $z-yellow--darkest;
}
.section:nth-child(3) .section-header {
	background: $z-forest-green--darkest;
}
.section:nth-child(4) .section-header {
	background: $z-lime-green--darkest;
}
.section:nth-child(5) .section-header {
	background: $z-blue--darkest;
}
.section:nth-child(6) .section-header {
	background: $z-gray--darkest;
}


.subsection {
	// background: red;

	&__heading {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	&__content {
		background: #fff;
		// border: 1px solid $gray-lighter;
		// border-right: 1px solid $gray-lighter;
		// border-left: 1px solid $gray-lighter;
    }

}

.section:nth-child(1) {
	& .subsection:nth-child(2) {
		background: $z-orange--dark;
	}
	& .subsection:nth-child(3) {
		background: $z-orange--medium;
	}
	& .subsection:nth-child(4) {
		background: $z-orange--light;
	}
	& .subsection:nth-child(5) {
		background: $z-orange--lightest;
	}
}
.section:nth-child(2) {
	& .subsection:nth-child(2) {
		background: $z-yellow--dark;
	}
	& .subsection:nth-child(3) {
		background: $z-yellow--medium;
	}
	& .subsection:nth-child(4) {
		background: $z-yellow--light;
	}
	& .subsection:nth-child(5) {
		background: $z-yellow--lightest;
	}
}
.section:nth-child(3) {
	& .subsection:nth-child(2) {
		background: $z-forest-green--dark;
	}
	& .subsection:nth-child(3) {
		background: $z-forest-green--medium;
	}
	& .subsection:nth-child(4) {
		background: $z-forest-green--light;
	}
	& .subsection:nth-child(5) {
		background: $z-forest-green--lightest;
	}
}
.section:nth-child(4) {
	& .subsection:nth-child(2) {
		background: $z-lime-green--dark;
	}
	& .subsection:nth-child(3) {
		background: $z-lime-green--medium;
	}
	& .subsection:nth-child(4) {
		background: $z-lime-green--light;
	}
	& .subsection:nth-child(5) {
		background: $z-lime-green--lightest;
	}
}
.section:nth-child(5) {
	& .subsection:nth-child(2) {
		background: $z-blue--dark;
	}
	& .subsection:nth-child(3) {
		background: $z-blue--medium;
	}
	& .subsection:nth-child(4) {
		background: $z-blue--light;
	}
	& .subsection:nth-child(5) {
		background: $z-blue--lightest;
	}
}
.section:nth-child(6) {
	& .subsection:nth-child(2) {
		background: $z-gray--dark;
	}
	& .subsection:nth-child(3) {
		background: $z-gray--medium;
	}
	& .subsection:nth-child(4) {
		background: $z-gray--light;
	}
	& .subsection:nth-child(5) {
		background: $z-gray--lightest;
	}
}



// .subsection:nth()

.card {
	@include clearfix;
	padding-top: 15px;
	padding-bottom: 15px;
	border: 1px solid $gray-lighter;
	height: 180px;

	&__content {
		// padding: 0 10px;
		// max-width: 150px;
	}

	&__text {
		margin-bottom: 0;
	}

	& label {
		font-size: 2rem;

		&:hover {
			cursor: pointer;
		}
	}
	
	&__img {
		// margin-bottom: 60px;
		img {
			// width: 64px;
			// height: 64px;
			width: 100%;
			height: auto;
		}
	}
	
}

.links {
	&__item {
		display: block;
		float: left;
		margin-right: 10px;
	}
}






// .col-xs-auto, .col-xs1-auto, .col-sm-auto, .col-md-auto, .col-lg-auto,
// .col-xs-auto-right, .col-xs1-auto-right, .col-sm-auto-right, .col-md-auto-right, .col-lg-auto-right,
// .col-middle {
//   position: relative;
//   min-height: 1px;
//   padding-left: 15px;
//   padding-right: 15px;
// }

// .col-middle {
//   display: table;
// }

// .col-xs-auto {
//   float: left;
// }
// .col-xs-auto-right {
//   float: right;
// }

// @media (min-width: 480px) {
//   .col-xs1-auto {
//     float: left;
//   }
//   .col-xs1-auto-right {
//     float: right;
//   }
// }

// @media (min-width: 768px) {
//   .col-sm-auto {
//     float: left;
//   }
//   .col-sm-auto-right {
//     float: right;
//   }
// }

// @media (min-width: 992px) {
//   .col-md-auto {
//     float: left;
//   }
//   .col-md-auto-right {
//     float: right;
//   }
// }

// @media (min-width: 1200px) {
//   .col-lg-auto {
//     float: left;
//   }
//   .col-lg-auto-right {
//     float: right;
//   }
// }